<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/emp.css" rel="stylesheet" />
</head>
<body class="news" >
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a class="active" href="/dashboard1">Home</a></li>
        <li class="tutorials"><a href="#">Employee</a>
          <ul>
            <li><a href="/createemp">Create</a></li>
            <li><a href="/employeedetails">Show</a></li>
            <li><a href="/manage">Manage</a></li>
          </ul>
        </li>
        <li class="about"><a href="#">About</a></li>
        <li class="news"><a href="#">Leave</a>
          <ul>
            <li><a href="/approveleave">ApproveLeave</a></li>
            <!-- <li><a href="#">News #2@@@</a></li>
            <li><a href="#">News #3</a></li> -->
          </ul>
        </li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </div>

  </header>
      <%- include tableofapplied.ejs %>

</body>
</html>
