<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Reports</title>
  <link href="../assets/css/reportstyle.css" rel="stylesheet" />
</head>
<body bgcolor="#363E4A">
  <form action="/reportsalary" method="POST">
    From<input type="text" class="from"name="from" allign="left"></input></br>
    To<input type="text" class="to" name="To" text-align="left"></input>
    <input type="submit" value="Genrate"/>
  </form>
</div>
</div>
</div>
</body>
</html>
