<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/create.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<script src="../assets/js/createe.js"></script>
<body>
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a class="active" href="/dashboard1">Home</a></li>
        <li class="tutorials"><a>Employee</a>
          <ul>
            <li><a href="/createemp">Create</a></li>
            <li><a href="/employee-details">Show</a></li>
            <li><a href="/manage">Manage</a></li>
          </ul>
        </li>
        <li class="about"><a href="#">About</a></li>
        <li class="news"><a href="#">Leave</a>
          <ul>
            <li><a href="#">ApproveLeave</a></li>
            <li><a href="#">News #2@@@</a></li>
            <li><a href="#">News #3</a></li>
          </ul>
        </li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
   <%- include includereport.ejs %>
    </body>
  </html>
