<html>
<head>
    <title>Signin</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body><form class="login-form" method="POST" action="/signin">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" name="email"/>
  <input type="password" class="login-password" required="true" placeholder="Password" name="password" />
  <input type="submit" value="Login" class="login-submit" />
</form>
<a href="#" class="login-forgot-pass">forgot password?</a>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
</body>
</html>
